<!DOCTYPE html>
<html>
  <head>
    <title>Mouse Pointer Position</title>
    <style>
      #app {
        border: black dashed 1px;
        width: 200px;
        padding: 0 20px 20px 20px;
      }

      /* style for app2 here */
          #app2 {
      border: black dashed 1px;
      width: 200px;
      padding: 0 20px 20px 20px;
          }
          #green {
      background-color: lightgreen;
          }
          /* style for app3 */
          #app3 {
      border: black dashed 1px;
      width: 200px;
      padding: 20px;
          }
          #app3 > div {
      width: 160px;
      padding: 20px;
      cursor: default;
      font-weight: bold;
      }


      #app4 {
      border: black dashed 1px;
      width: 200px;
      padding: 0 20px 20px 20px;
          }
          #app4 > div {
      width: 160px;
      background-color: lightcoral;
      padding: 20px;
          }
          #app4 span {
      color: black;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
          }
    </style>
  </head>
  <body>
    <h1>Example: Create Alert Only Once</h1>
    <div id="app">
      <p>The button below creates an alert in a pop-up box, but only on the first click:</p>
      <button v-on:click.once="createAlert">Create Alert</button>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app = Vue.createApp({
        methods: {
          createAlert() {
            alert("Alert created from button click")
          }
        }
      })
       app.mount('#app')
    </script>
    <%# Second app from here %>
    <h1>Example: Find The Keyboard Key Value</h1>
    <div id="app2">
      <p>Start writing inside the text box to record the key value:</p>
      <input type="text" v-on:keydown="getKey">
      <p id="green">{{ keyValue }}</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app2 = Vue.createApp({
        data() {
          return {
            keyValue: ''
          }
        },
        methods: {
          getKey(evt) {
            this.keyValue = evt.key
            console.log(evt.key)
          }
        }
      })
       app2.mount('#app2')
    </script>
    <%# Third app from here %>
    <h1>Example</h1>
    <p>Left click with the mouse and hold down the 'ctrl' key to change color in the DIV element.</p>
    <div id="app3">
      <div v-on:click.left.ctrl="changeColor" v-bind:style="{ backgroundColor:'hsl('+bgColor+',80%,80%)' }">
        <p>Press 'ctrl' key and left click here.</p>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app3 = Vue.createApp({
        data() {
          return {
            bgColor : 0
          }
        },
        methods: {
          changeColor() {
            this.bgColor+=50;
          }
        }
      })
       app3.mount('#app3')
    </script>
    <%# Fourth app from here %>
    <h1>Example: 'S' Key Generates Alert</h1>
    <div id="app4">
      <p>The 'S' key generates an alert:</p>
      <textarea cols="20" rows="3" v-on:keydown.s="createAlert" placeholder="Start writing.."></textarea>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app4 = Vue.createApp({
        methods: {
          createAlert(evt) {
            alert("You pressed the 'S' key!");
          }
        }
      })
       app4.mount('#app4')
    </script>
  </body>
</html>
