<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue page</title>
    <style>
      #app {
        display: inline-block;
        padding: 10px;
        font-size: x-large;
        background-color: lightgreen;
      }
    </style>
  </head>
  <body>
    <h1>First Vue Example</h1>
    <div class="container-exercises">
      <div class="container-table">
        <div class="row">
          <div class="col-md-12">
            <div class="card text-center shadow">
              <ul class="list-group">
                <li><%= link_to "Intro", intro_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "Directive", directive_path, class: 'btn btn-primary' %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
