<!DOCTYPE html>
<html>
  <head>
    <title>v-bind font-size</title>
    <style>
      #app > div {
        width: 200px;
        padding: 20px;
        border: dashed black 1px;
        background-color: lightcoral;
      }


          #app2 > div {
      margin: 10px;
      padding: 10px;
      border: solid black 1px;
      display: inline-block;
          }

          #app2 > .pinkBG{
      background-color: lightpink;
          }

            #app3 > div {
      width: 200px;
      padding: 20px;
      border: dashed black 1px;
      background-color: lightcoral;
          }
    </style>
  </head>
  <body>
    <h1>'v-bind' Font Size Example</h1>
    <p>Changing the font size in the following code changes the font size.</p>
    <div id="app">
      <div v-bind:style="{ fontSize: size }">The font size has been bond and is at 28px</div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app = Vue.createApp({
       data() {
        return {
          size: '28px'
        }
       }
      })
      app.mount('#app')
    </script>
    <div id="app2">
      <p>Everything inside the div emelent with id="app" can use data from the Vue instance.</p>
      <div v-bind:class="vueClass">This element is bound to the "pinkBG" class.</div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app2 = Vue.createApp({
       data() {
        return {
         vueClass: "pinkBG"
        }
       }
      })

      app2.mount('#app2')
    </script>
    <h1>'v-bind' Font Size Example</h1>
    <p>The browser sets the font-size in pixels based on the 'size' number value in the Vue instance.</p>
    <div id="app3">
      <div v-bind:style="{ fontSize: size + 'px' }">Text example</div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app3 = Vue.createApp({
       data() {
        return {
          size: 28
        }
       }
      })
      app3.mount('#app3')
    </script>
  </body>
</html>
